<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer" class="footer modal-footer">
        &copy;
        <span style="background: linear-gradient(to right,red,orange,yellow,green,cyan,blue,purple);
                -webkit-background-clip: text;
                color: transparent">
            WebPress
        </span>
        &middot;
        <span style="color: #ff525c">JYZZZ Group</span>
        &middot;
        <span>Limited</span>
    </div>
</html>